[submodule "tsn-mempool-backend"]
	path = tsn-mempool-backend
	url = https://github.com/bigdreamsweb3/tsn-mempool-backend.git
[submodule "tsn-mempool-frontend"]
	path = tsn-mempool-frontend
	url = https://github.com/bigdreamsweb3/tsn-mempool-frontend.git
