RPC_URL=https://api.devnet.solana.com
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=BQCDZF8gFs35xiEUEZbvgkLufMjrcysw5yPdv3MVZohM
KEYPAIR_PATH=./cranker-keypair.json
TSN_AUTHORITY_KEYPAIR_PATH=~/.config/solana/id.json
SOLANA_MOCK_MODE=false
TSN_ENABLED=true
TSN_CREATE_INTENTS_ONCHAIN=true
